*{
    margin: 0px;
    padding: 0px;

    
}


@font-face { /*ne marche pas sur Github?*/
    font-family: "OneDirection";
    src: ("/fonts/OneDirection.ttf") format("truetype"),
   
}


:root{
    --c-bg-blue: rgb(212 241 255);
}

body{
    overflow-x: hidden;
    width: 100vw;
}


/* Section 1 ------------------------------------------------------------------------------------------------------------ */

#section1{
    min-height: 60vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.texte{
    font-size: 60px;
    font-family: "OneDirection";
    

}


/* Section 2 ------------------------------------------------------------------------------------------------------------- */
#section2{
    min-height: 40vh;
    width: 100%;
    background-color: rgba(170, 197, 202, 0.616);
    display: flex;
    justify-content: center;
    flex-direction: row;
}


.titre{
    font-size: 50px;
    font-family: "Shadows Into Light", serif;

    
}

.onedirection{
    height: 100%;
    width: 590px;
}

.biographie{
   display: flex;
   flex-direction: column;
   padding: 50px;
   padding-right: 8%;
   margin-top: 3%;
   gap: 35px;
  
}

.img1Texte{
    font-size: 20px;
}

/* Section 3 ------------------------------------------------------------------------------------------ */
#section3{
    min-height: 75vh;
    width: 100%;
    background-color: rgba(220, 128, 145, 0.616);
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.jeu{
    display: flex;
    gap: 30px;
    margin-top: 60px;
}

.artistBox{
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.widthImage{
    width: 100%;
 
}

.depositZone{
    background-color: rgb(75, 9, 9);
    width: 100%;
    height: 60px;
    border-radius: 30px;
}


.cardGame{
    display: flex;
    gap: 30px;
    margin-top: 60px;
    margin-bottom: 20px;
}

.name{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 80%;
    background-color: rgb(255, 250, 249);
    border-radius: 30px;
}




.titre2{
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-top: 3%;
    font-family: "Shadows Into Light", serif;
}


.window3{
    display: flex;
    justify-content: center;
    flex-direction: row;
    display: inline;
}


/* Section 4 -------------------------------------------------------------------------------------------------------------- */


#section4{
    min-height: 60vh;
    width: 100%;
    background-color: rgba(221, 219, 144, 0.616);
    overflow: hidden;

}

.window4{
    display: flex;
}

.mitam{
    height: 100%;
    width: 620px;
}

.mitamTexte{
    display: flex;
   flex-direction: column;
   padding: 50px;
   padding-left: 8%;
   margin-top: 7%;
   gap: 60px;
   font-size: 20px;
}

/* Section interlude ------------------------------------------------------------------------------------------------------------ */
#sec4To5{
    min-height: 200px;
    background-color: rgba(187, 230, 251, 0.616);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
}

.micro{
    width: 190px;

}


/* Section 5 ------------------------------------------------------------------------------------------------------------ */

#section5{
    min-height: 100vh;
    width: 100%;
    background-color: var(--c-bg-blue);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.titresec5{
    font-size: 50px;
    font-family: "Shadows Into Light", serif;
    
}


.cover, .goodCover{
    width: 20vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.textecover{
    display: flex;
    justify-content: center;
    align-items: row;
    gap: 30vh;
    margin-top: 3px;
    font-family: "OneDirection";
    font-size: 30px;
    margin-right: 5%;


}
    

.albums{
    display: flex;
    justify-content: center;
    gap: 10vh;
}

#depositSec5{
    width: 22vw;
    height: 22vw;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-items: center;

}

.response{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 47, 169);
}



/* Responsive / MEDIA QUERIES -----------------------------------------------------*/

@media(max-width: 800px){ 
  
    #section2 {
        flex-direction: column !important;
    }
    .onedirection{
            height: 100%;
            width: 500px;
            margin-left: 80px;
            margin-bottom: 50px;
        }

    
    .window4 {
        display: flex ;
        flex-direction: column !important;
    }.mitam {
            height: 100%;
            width: 500px;
            padding: 80px;
        }
    

    .textecover{
        gap: 10vh !important;
        flex-direction: column;
    }

    .texte{
        font-size: 30px !important;
        font-family: "OneDirection";
    }
    .img1Texte {
        font-size: 17px;
        
    }

    .onedirection {
     width: 300px !important;
     margin-left: 10px !important;
     margin-bottom: 50px;
     }

    .jeu{
        flex-direction: column;
    }
        
    .artistBox{
        width: 100%;
    
    }
    .cardGame {
        flex-direction: column;
        margin-left: 20px;
    }

    .mitamTexte{
        margin-left: 30px;
    }
    
    .mitam{
        width: 300px !important;
        padding: 10px !important;
    }
    .titresec5 {
        font-size: 30px !important;
    }

   /* Responsive tablette/ MEDIA QUERIES -----------------------------------------------------*/

@media(max-width: 800px){ 
  
    #section2 {
        flex-direction: column !important;
    }
    .onedirection{
            height: 100%;
            width: 500px;
            margin-left: 80px;
            margin-bottom: 50px;
        }

    }
    .window4 {
        display: flex ;
        flex-direction: column !important;
    }.mitam {
            height: 100%;
            width: 500px;
            padding: 80px;
        }
    

    .textecover{
        gap: 10vh !important;
    }

    .texte{
        font-size: 30px !important;
        font-family: "OneDirection";
    }
    .img1Texte {
        font-size: 17px;
        
    }

    .onedirection {
     width: 300px !important;
     margin-left: 10px !important;
     margin-bottom: 50px;
     }

    .jeu{
        flex-direction: column;
        
    .artistBox{
        width: 100%;
    }
    }
    .cardGame {
        flex-direction: column;
        margin-left: 20px;
    }

    .mitamTexte{
        margin-left: 30px;
    }
    
    .mitam{
        width: 300px !important;
        padding: 10px !important;
    }
    .titresec5 {
        font-size: 30px !important;
    }

    .cover, .goodCover {
        width: 45vh !important; 
        
    }

    .albums{
        flex-direction: column;
    }

    


    .albums{
        flex-direction: column;
    }
    .textecover{
        align-items: center;
    }

    #depositSec5 {
        width: 50vh;
        height: 50vh;
        border-radius: 80px;
    }
       
}

    
